---
http_interactions:
- request:
    method: get
    uri: http://elophant.com/api/v1/na/getRecentGames?accountId=32766&key=V45wByoYCe2ESQ7h3tnC&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Limit:
      - '1000'
      Remaining:
      - '997'
      Reset:
      - '268'
    body:
      encoding: US-ASCII
      string: ! '{"gameStatistics":[{"skinName":"Malphite","ranked":false,"skinIndex":0,"fellowPlayers":[{"championId":55,"summonerId":19093976,"summonerName":"Arthelon","teamId":100},{"championId":31,"summonerId":20483477,"summonerName":"xHazzard","teamId":100},{"championId":61,"summonerId":17772,"summonerName":"ReginaId","teamId":200},{"championId":36,"summonerId":60783,"summonerName":"TheOddOne","teamId":200},{"championId":20,"summonerId":20405690,"summonerName":"Nk
        Inc","teamId":100},{"championId":51,"summonerId":19930588,"summonerName":"Shynon","teamId":100},{"championId":117,"summonerId":19199530,"summonerName":"Xpecial","teamId":200},{"championId":96,"summonerId":7460,"summonerName":"Chaox","teamId":200},{"championId":53,"summonerId":19161111,"summonerName":"Lemongod","teamId":100}],"gameType":"CUSTOM_GAME","experienceEarned":0,"eligibleFirstWinOfDay":false,"difficulty":"EASY","gameMapId":1,"leaver":false,"spell1":12,"spell2":4,"gameTypeEnum":"CUSTOM_GAME","teamId":200,"summonerId":5908,"statistics":[{"statType":"MINIONS_KILLED","value":118,"dataVersion":0},{"statType":"ITEM1","value":3069,"dataVersion":0},{"statType":"TOTAL_DAMAGE_TAKEN","value":11847,"dataVersion":0},{"statType":"PHYSICAL_DAMAGE_DEALT_PLAYER","value":13907,"dataVersion":0},{"statType":"LEVEL","value":13,"dataVersion":0},{"statType":"TOTAL_DAMAGE_DEALT","value":76264,"dataVersion":0},{"statType":"ITEM2","value":1031,"dataVersion":0},{"statType":"TOTAL_HEAL","value":0,"dataVersion":0},{"statType":"MAGIC_DAMAGE_TAKEN","value":5375,"dataVersion":0},{"statType":"ITEM3","value":0,"d[...]
