---
http_interactions:
- request:
    method: get
    uri: http://elophant.com/api/v1/na/getSummonerByName?key=V45wByoYCe2ESQ7h3tnC&output=json&summonerName=dyrus
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Limit:
      - '1000'
      Remaining:
      - '1000'
      Reset:
      - '900'
    body:
      encoding: US-ASCII
      string: ! '{"internalName":"dyrus","name":"Dyrus","acctId":32766,"profileIconId":10,"revisionDate":"2012-11-22
        03:07:29Z","revisionId":0,"summonerLevel":30,"summonerId":5908,"dataVersion":0}'
  recorded_at: Thu, 22 Nov 2012 06:08:04 GMT
recorded_with: VCR 2.2.5
