---
http_interactions:
- request:
    method: get
    uri: http://elophant.com/api/v1/na/getSummonerByName?key=V45wByoYCe2ESQ7h3tnC&output=json&summonerName=ReginaId
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Limit:
      - '1000'
      Remaining:
      - '998'
      Reset:
      - '899'
    body:
      encoding: US-ASCII
      string: ! '{"internalName":"reginaid","name":"ReginaId","acctId":44615,"profileIconId":527,"revisionDate":"2012-11-25
        20:35:02Z","revisionId":0,"summonerLevel":30,"summonerId":17772,"dataVersion":0}'
  recorded_at: Mon, 26 Nov 2012 07:47:28 GMT
recorded_with: VCR 2.2.5
