---
http_interactions:
- request:
    method: get
    uri: http://elophant.com/api/v1/na/getSummonerByName?key=V45wByoYCe2ESQ7h3tnC&output=json&summonerName=Shynon
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Limit:
      - '1000'
      Remaining:
      - '995'
      Reset:
      - '898'
    body:
      encoding: US-ASCII
      string: ! '{"internalName":"shynon","name":"Shynon","acctId":32697839,"profileIconId":532,"revisionDate":"2012-11-26
        05:39:22Z","revisionId":0,"summonerLevel":30,"summonerId":19930588,"dataVersion":0}'
  recorded_at: Mon, 26 Nov 2012 07:47:29 GMT
recorded_with: VCR 2.2.5
