---
http_interactions:
- request:
    method: get
    uri: http://elophant.com/api/v1/na/getSummonerByName?key=V45wByoYCe2ESQ7h3tnC&output=json&summonerName=Nk%20Inc
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Limit:
      - '1000'
      Remaining:
      - '996'
      Reset:
      - '899'
    body:
      encoding: US-ASCII
      string: ! '{"internalName":"nkinc","name":"Nk Inc","acctId":33364199,"profileIconId":507,"revisionDate":"2012-11-26
        03:44:48Z","revisionId":0,"summonerLevel":30,"summonerId":20405690,"dataVersion":0}'
  recorded_at: Mon, 26 Nov 2012 07:47:29 GMT
recorded_with: VCR 2.2.5
