---
http_interactions:
- request:
    method: get
    uri: http://elophant.com/api/v1/na/getSummonerByName?key=V45wByoYCe2ESQ7h3tnC&output=json&summonerName=xHazzard
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Limit:
      - '1000'
      Remaining:
      - '999'
      Reset:
      - '900'
    body:
      encoding: US-ASCII
      string: ! '{"internalName":"xhazzard","name":"xHazzard","acctId":33470319,"profileIconId":6,"revisionDate":"2012-11-26
        05:48:20Z","revisionId":0,"summonerLevel":30,"summonerId":20483477,"dataVersion":0}'
  recorded_at: Mon, 26 Nov 2012 07:47:28 GMT
recorded_with: VCR 2.2.5
