---
http_interactions:
- request:
    method: get
    uri: http://elophant.com/api/v1/na/getSummonerByName?key=V45wByoYCe2ESQ7h3tnC&output=json&summonerName=Chaox
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Limit:
      - '1000'
      Remaining:
      - '993'
      Reset:
      - '898'
    body:
      encoding: US-ASCII
      string: ! '{"internalName":"chaox","name":"Chaox","acctId":34318,"profileIconId":503,"revisionDate":"2012-11-25
        02:28:41Z","revisionId":0,"summonerLevel":30,"summonerId":7460,"dataVersion":0}'
  recorded_at: Mon, 26 Nov 2012 07:47:30 GMT
recorded_with: VCR 2.2.5
