---
http_interactions:
- request:
    method: get
    uri: http://elophant.com/api/v1/na/getRecentGames?accountId=44615&key=V45wByoYCe2ESQ7h3tnC&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Limit:
      - '1000'
      Remaining:
      - '988'
      Reset:
      - '512'
    body:
      encoding: US-ASCII
      string: ! '{"gameStatistics":[{"ranked":true,"skinIndex":0,"fellowPlayers":[{"championId":64,"summonerId":35467479,"summonerName":"Qiuluolishang","teamId":200},{"championId":103,"summonerId":25815035,"summonerName":"MattDontKillMe","teamId":200},{"championId":5,"summonerId":19239019,"summonerName":"108th
        Fruit","teamId":100},{"championId":22,"summonerId":554808,"summonerName":"Kyruel","teamId":200},{"championId":24,"summonerId":20483624,"summonerName":"Ph\u00F5
        Kin","teamId":200},{"championId":44,"summonerId":35407053,"summonerName":"barbliu","teamId":200},{"championId":8,"summonerId":25058817,"summonerName":"Only
        Smurfimus","teamId":100},{"championId":16,"summonerId":19466837,"summonerName":"Shaulter","teamId":100},{"championId":104,"summonerId":21989823,"summonerName":"Shadowbane7","teamId":100}],"gameType":"MATCHED_GAME","experienceEarned":0,"eligibleFirstWinOfDay":false,"gameMapId":1,"leaver":false,"spell1":4,"spell2":14,"gameTypeEnum":"MATCHED_GAME","teamId":100,"summonerId":0,"statistics":[{"statType":"TOTAL_DAMAGE_TAKEN","value":23291,"dataVersion":0},{"statType":"PHYSICAL_DAMAGE_DEALT_PLAYER","value":94769,"dataVersion":0},{"statType":"TURRETS_KILLED","value":2,"dataVersion":0},{"statType":"MINIONS_KILLED","value":149,"dataVersion":0},{"statType":"ITEM5","value":1037,"dataVersion":0},{"statType":"PHYSICAL_DAMAGE_TAKEN","value":16154,"dataVersion":0},{"statType":"ASSISTS","value":10,"dataVersion":0},{"statType":"LARGEST_KILLING_SPREE","value":2,"dataVersion":0},{"statType":"SIGHT_WARDS_BOUGHT_IN_GAME","value":3,"dataVersion":0},{"statType"[...]
