---
http_interactions:
- request:
    method: get
    uri: http://elophant.com/api/v1/na/getRecentGames?accountId=31788455&key=V45wByoYCe2ESQ7h3tnC&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Limit:
      - '1000'
      Remaining:
      - '990'
      Reset:
      - '515'
    body:
      encoding: US-ASCII
      string: ! '{"gameStatistics":[{"skinName":"Syndra","ranked":true,"skinIndex":1,"fellowPlayers":[{"championId":36,"summonerId":23854845,"summonerName":"sealbitron","teamId":200},{"championId":24,"summonerId":20239565,"summonerName":"d
        Crumbz","teamId":100},{"championId":42,"summonerId":20443292,"summonerName":"Janice","teamId":200},{"championId":104,"summonerId":19794046,"summonerName":"d4rka2n","teamId":100},{"championId":2,"summonerId":20859660,"summonerName":"Lifeless
        Eyes","teamId":100},{"championId":4,"summonerId":22995012,"summonerName":"KissHugLove","teamId":200},{"championId":84,"summonerId":20579425,"summonerName":"Thyak","teamId":200},{"championId":53,"summonerId":19167501,"summonerName":"Aylith","teamId":200},{"championId":89,"summonerId":19529469,"summonerName":"Ralph
        Schnell","teamId":100}],"gameType":"MATCHED_GAME","experienceEarned":0,"eligibleFirstWinOfDay":false,"gameMapId":1,"leaver":false,"spell1":14,"spell2":4,"gameTypeEnum":"MATCHED_GAME","teamId":100,"summonerId":19093976,"statistics":[{"statType":"TOTAL_TIME_SPENT_DEAD","value":305,"dataVersion":0},{"statType":"SIGHT_WARDS_BOUGHT_IN_GAME","value":0,"dataVersion":0},{"statType":"PHYSICAL_DAMAGE_TAKEN","value":6951,"dataVersion":0},{"statType":"MAGIC_DAMAGE_TAKEN","value":9932,"dataVersion":0},{"statType":"VISION_WARDS_BOUGHT_IN_GAME","value":0,"dataVersion":0},{"statType":"ITEM3","value":3135,"dataVersion":0},{"statType":"LARGEST_KILLING_SPREE","value":2,"dataVersion":0},{"statType":"NEUTRAL_MINIONS_KILLED","value":40,"dataVersion":0},{"statType":"TURRETS_KILLED","value":0,"dataVersion":[...]
