---
http_interactions:
- request:
    method: get
    uri: http://elophant.com/api/v1/na/getRecentGames?accountId=31855591&key=V45wByoYCe2ESQ7h3tnC&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Limit:
      - '1000'
      Remaining:
      - '982'
      Reset:
      - '504'
    body:
      encoding: US-ASCII
      string: ! '{"gameStatistics":[{"skinName":"Zyra","ranked":true,"skinIndex":1,"fellowPlayers":[{"championId":10,"summonerId":22730679,"summonerName":"bleedspeed","teamId":200},{"championId":55,"summonerId":20651483,"summonerName":"DinoNuggets","teamId":200},{"championId":99,"summonerId":158607,"summonerName":"DVS
        Nematic","teamId":100},{"championId":36,"summonerId":148332,"summonerName":"Blinzer","teamId":100},{"championId":119,"summonerId":442232,"summonerName":"FeaR
        aphromoo","teamId":100},{"championId":42,"summonerId":23183428,"summonerName":"kloudeN","teamId":200},{"championId":39,"summonerId":24245747,"summonerName":"Jyiko","teamId":100},{"championId":2,"summonerId":20610274,"summonerName":"sexycan","teamId":200},{"championId":89,"summonerId":21273721,"summonerName":"SURPRISEEEEEEE","teamId":200}],"gameType":"MATCHED_GAME","experienceEarned":0,"eligibleFirstWinOfDay":true,"gameMapId":1,"leaver":false,"spell1":4,"spell2":3,"gameTypeEnum":"MATCHED_GAME","teamId":100,"summonerId":19161111,"statistics":[{"statType":"TOTAL_DAMAGE_TAKEN","value":14473,"dataVersion":0},{"statType":"ITEM1","value":1011,"dataVersion":0},{"statType":"NUM_DEATHS","value":5,"dataVersion":0},{"statType":"CHAMPIONS_KILLED","value":3,"dataVersion":0},{"statType":"GOLD_EARNED","value":8510,"dataVersion":0},{"statType":"PHYSICAL_DAMAGE_TAKEN","value":5546,"dataVersion":0},{"statType":"ITEM4","value":3069,"dataVersion":0},{"statType":"LARGEST_KILLING_SPREE","value":0,"dataVersion":0},{"statType":"TOTAL_TIME_SPENT_DEAD","value":138,"dataVersion":0},{"statType":"ITEM2","value":3020,"dat[...]
