---
http_interactions:
- request:
    method: get
    uri: http://elophant.com/api/v1/na/getRecentGames?accountId=31894009&key=V45wByoYCe2ESQ7h3tnC&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Limit:
      - '1000'
      Remaining:
      - '984'
      Reset:
      - '507'
    body:
      encoding: US-ASCII
      string: ! '{"gameStatistics":[{"ranked":true,"skinIndex":0,"fellowPlayers":[{"championId":81,"summonerId":26363240,"summonerName":"Sleepyoon","teamId":200},{"championId":92,"summonerId":20160693,"summonerName":"Coffeeee","teamId":200},{"championId":44,"summonerId":19245322,"summonerName":"spazpope","teamId":200},{"championId":18,"summonerId":272354,"summonerName":"GamerXz","teamId":100},{"championId":107,"summonerId":19698094,"summonerName":"FallenBandit","teamId":200},{"championId":60,"summonerId":25147442,"summonerName":"Parylax","teamId":100},{"championId":1,"summonerId":20933427,"summonerName":"LikahSombodee","teamId":100},{"championId":103,"summonerId":20040420,"summonerName":"Monsoonz","teamId":200},{"championId":5,"summonerId":20610274,"summonerName":"sexycan","teamId":100}],"gameType":"MATCHED_GAME","experienceEarned":0,"eligibleFirstWinOfDay":false,"gameMapId":1,"leaver":false,"spell1":3,"spell2":4,"gameTypeEnum":"MATCHED_GAME","teamId":100,"summonerId":0,"statistics":[{"statType":"LEVEL","value":12,"dataVersion":0},{"statType":"ITEM0","value":3132,"dataVersion":0},{"statType":"PHYSICAL_DAMAGE_DEALT_PLAYER","value":5669,"dataVersion":0},{"statType":"ITEM3","value":1001,"dataVersion":0},{"statType":"NUM_DEATHS","value":1,"dataVersion":0},{"statType":"TOTAL_HEAL","value":6823,"dataVersion":0},{"statType":"TOTAL_TIME_SPENT_DEAD","value":22,"dataVersion":0},{"statType":"ASSISTS","value":4,"dataVersion":0},{"statType":"LARGEST_CRITICAL_STRIKE","value":122,"dataVersion":0},{"statType":"GOLD_EARNED","value":5282,"dataVersion":0},{"statType":"MAGIC_DAMAGE_TAKEN","value":2170,"dataVersion":0},{"statType":"ITEM5","value":2044,"dataVersion":0},{"statType":"ITEM1","value":3067,"dataVersion":0},{"statType":"MAGIC_DAMAGE_DEALT_PLAYER","value":12136,"dataVersion":0},{"statType":"TOTAL_DAMAGE_TAKEN","value":7292,"dataVersion":0},{"statType":"TOTAL_DAMAGE_DEALT","value":17806,"dataVersion":0},{"statType":"ITEM4","value":1042,"dataVersion":0},{"statType":"SIGHT_WARDS_BOUGHT_IN_GAME","value":15,"dataVersion":0},{"statType":"ITEM2","value":3096,"dataVersion":0},{"statType":"PHYSICAL_DAMAGE_TAKEN","value":4847,"dataVersion":0},{"statType":"LOSE","value":1,"dataVersion":0},{"statType":"MINIONS_KILLED","value":18,"dataVersion":0},{"statType":"VISION_WARDS_BOUGHT_IN_GAME","value":2,"dataVersion":0}],"afk":false,"boostXpEarned":0,"level":30,"invalid":false,"userId":31894009,"createDate":"2012-11-24
        01:23:28Z","userServerPing":32,"premadeSize":1,"boostIpEarned":0,"gameId":598391545,"timeInQueue":223,"ipEarned":54,"gameMode":"CLASSIC","subType":"RANKED_SOLO_5x5","queueType":"RANKED_SOLO_5x5","premadeTeam":false,"championId":37,"dataVersion":2},{"ranked":true,"skinIndex":0,"fellowPlayers":[{"championId":72,"summonerId":19978093,"summonerName":"GGod","teamId":100},{"championId":32,"summonerId":21398687,"summonerName":"iNoe
        OH NOES","teamId":200},{"championId":81,"summonerId":19861913,"summonerName":"Slackoh","teamId":100},{"championId":103,"summonerId":21538492,"summonerName":"dzkaiten","teamId":100},{"championId":83,"summonerId":22793192,"summonerName":"Puffedup","teamId":200},{"championId[...]
