---
http_interactions:
- request:
    method: get
    uri: http://elophant.com/api/v1/na/getRecentGames?accountId=32697839&key=V45wByoYCe2ESQ7h3tnC&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Limit:
      - '1000'
      Remaining:
      - '985'
      Reset:
      - '508'
    body:
      encoding: US-ASCII
      string: ! '{"gameStatistics":[{"skinName":"Caitlyn","ranked":false,"skinIndex":0,"fellowPlayers":[{"championId":131,"summonerId":19093976,"summonerName":"Arthelon","teamId":100},{"championId":53,"summonerId":20384216,"summonerName":"TD
        Pixel","teamId":200},{"championId":107,"summonerId":74673,"summonerName":"TD
        NintenDDudeX","teamId":200},{"championId":31,"summonerId":20483477,"summonerName":"xHazzard","teamId":100},{"championId":20,"summonerId":20405690,"summonerName":"Nk
        Inc","teamId":100},{"championId":61,"summonerId":14404,"summonerName":"4Not
        TakashiX","teamId":200},{"championId":44,"summonerId":19161111,"summonerName":"Lemongod","teamId":100},{"championId":39,"summonerId":19738326,"summonerName":"TD
        ZionSpartan","teamId":200},{"championId":81,"summonerId":35379978,"summonerName":"TD
        DontMashMe","teamId":200}],"gameType":"CUSTOM_GAME","experienceEarned":0,"eligibleFirstWinOfDay":false,"difficulty":"EASY","gameMapId":1,"leaver":false,"spell1":4,"spell2":1,"gameTypeEnum":"CUSTOM_GAME","teamId":100,"summonerId":19930588,"statistics":[{"statType":"LARGEST_MULTI_KILL","value":2,"dataVersion":0},{"statType":"ITEM4","value":3046,"dataVersion":0},{"statType":"VISION_WARDS_BOUGHT_IN_GAME","value":0,"dataVersion":0},{"statType":"LARGEST_KILLING_SPREE","value":9,"dataVersion":0},{"statType":"TOTAL_HEAL","value":0,"dataVersion":0},{"statType":"LARGEST_CRITICAL_STRIKE","value":1726,"dataVersion":0},{"statType":"ITEM3","value":3035,"dataVersion":0},{"statType":"TOTAL_DAMAGE_DEALT","value":344186,"dataVersion":0},{"statType":"TOTAL_TIME_SPENT_DEAD","value":170,"dataVersion":0},{"statType":"GO[...]
