---
http_interactions:
- request:
    method: get
    uri: http://elophant.com/api/v1/na/getRecentGames?accountId=33364199&key=V45wByoYCe2ESQ7h3tnC&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Limit:
      - '1000'
      Remaining:
      - '986'
      Reset:
      - '509'
    body:
      encoding: US-ASCII
      string: ! '{"gameStatistics":[{"skinName":"LeeSin","ranked":false,"skinIndex":3,"fellowPlayers":[{"championId":25,"summonerId":19093976,"summonerName":"Arthelon","teamId":200},{"championId":2,"summonerId":20239565,"summonerName":"d
        Crumbz","teamId":100},{"championId":107,"summonerId":533226,"summonerName":"d
        IWDominate","teamId":100},{"championId":54,"summonerId":20483477,"summonerName":"xHazzard","teamId":200},{"championId":29,"summonerId":19887289,"summonerName":"Imaqtpie","teamId":100},{"championId":81,"summonerId":19930588,"summonerName":"Shynon","teamId":200},{"championId":53,"summonerId":19161111,"summonerName":"Lemongod","teamId":200},{"championId":20,"summonerId":20305123,"summonerName":"d
        Patoy","teamId":100},{"championId":99,"summonerId":10077,"summonerName":"scarra","teamId":100}],"gameType":"CUSTOM_GAME","experienceEarned":0,"eligibleFirstWinOfDay":false,"difficulty":"EASY","gameMapId":1,"leaver":false,"spell1":4,"spell2":11,"gameTypeEnum":"CUSTOM_GAME","teamId":200,"summonerId":20405690,"statistics":[{"statType":"LEVEL","value":13,"dataVersion":0},{"statType":"PHYSICAL_DAMAGE_DEALT_PLAYER","value":28270,"dataVersion":0},{"statType":"NUM_DEATHS","value":5,"dataVersion":0},{"statType":"CHAMPIONS_KILLED","value":4,"dataVersion":0},{"statType":"LARGEST_CRITICAL_STRIKE","value":74,"dataVersion":0},{"statType":"ASSISTS","value":4,"dataVersion":0},{"statType":"ITEM5","value":3132,"dataVersion":0},{"statType":"ITEM1","value":3154,"dataVersion":0},{"statType":"NEUTRAL_MINIONS_KILLED","value":37,"dataVersion":0},{"statType":"BARRACKS_KILLED","va[...]
