---
http_interactions:
- request:
    method: get
    uri: http://elophant.com/api/v1/na/getRecentGames?accountId=33470319&key=V45wByoYCe2ESQ7h3tnC&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Limit:
      - '1000'
      Remaining:
      - '989'
      Reset:
      - '514'
    body:
      encoding: US-ASCII
      string: ! '{"gameStatistics":[{"skinName":"Malphite","ranked":false,"skinIndex":0,"fellowPlayers":[{"championId":131,"summonerId":19093976,"summonerName":"Arthelon","teamId":200},{"championId":9,"summonerId":20405690,"summonerName":"Nk
        Inc","teamId":200},{"championId":56,"summonerId":60783,"summonerName":"TheOddOne","teamId":100},{"championId":30,"summonerId":17772,"summonerName":"ReginaId","teamId":100},{"championId":81,"summonerId":19930588,"summonerName":"Shynon","teamId":200},{"championId":2,"summonerId":5908,"summonerName":"Dyrus","teamId":100},{"championId":117,"summonerId":19161111,"summonerName":"Lemongod","teamId":200},{"championId":42,"summonerId":7460,"summonerName":"Chaox","teamId":100},{"championId":89,"summonerId":19199530,"summonerName":"Xpecial","teamId":100}],"gameType":"CUSTOM_GAME","experienceEarned":0,"eligibleFirstWinOfDay":false,"difficulty":"EASY","gameMapId":1,"leaver":false,"spell1":4,"spell2":12,"gameTypeEnum":"CUSTOM_GAME","teamId":200,"summonerId":20483477,"statistics":[{"statType":"TOTAL_TIME_SPENT_DEAD","value":120,"dataVersion":0},{"statType":"PHYSICAL_DAMAGE_DEALT_PLAYER","value":16234,"dataVersion":0},{"statType":"ITEM0","value":3047,"dataVersion":0},{"statType":"MINIONS_KILLED","value":82,"dataVersion":0},{"statType":"TURRETS_KILLED","value":0,"dataVersion":0},{"statType":"ASSISTS","value":0,"dataVersion":0},{"statType":"TOTAL_HEAL","value":0,"dataVersion":0},{"statType":"NUM_DEATHS","value":5,"dataVersion":0},{"statType":"PHYSICAL_DAMAGE_TAKEN","value":3785,"dataVersion":0},{"statType":"LARGEST_CRITICAL_STRIKE","va[...]
