---
http_interactions:
- request:
    method: get
    uri: http://api.elophant.com/v2/na/recent_games/32354173?key=maAwenLo7usJKeb0N8GY&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Developer-Limit:
      - '1000'
      Developer-Remaining:
      - '999'
      Developer-Reset:
      - '900'
    body:
      encoding: US-ASCII
      string: ! '{"data":{"gameStatistics":[{"ranked":true,"skinIndex":3,"fellowPlayers":[{"championId":81,"summonerId":19876889,"summonerName":"Bakachu","teamId":200},{"championId":104,"summonerId":19978093,"summonerName":"GGod","teamId":100},{"championId":44,"summonerId":21439805,"summonerName":"Fizz
        Khalifa","teamId":200},{"championId":2,"summonerId":32731134,"summonerName":"CharismaPeon","teamId":100},{"championId":117,"summonerId":19243298,"summonerName":"Nancy
        Pelosii","teamId":100},{"championId":59,"summonerId":21370907,"summonerName":"The
        Italian One","teamId":200},{"championId":4,"summonerId":19199530,"summonerName":"Xpecial","teamId":200},{"championId":5,"summonerId":398435,"summonerName":"TiensiNoAkuma","teamId":200},{"championId":79,"summonerId":26699733,"summonerName":"LanaAqua","teamId":100}],"gameType":"MATCHED_GAME","experienceEarned":0,"eligibleFirstWinOfDay":false,"gameMapId":1,"leaver":false,"spell1":14,"spell2":4,"teamId":100,"summonerId":19660288,"statistics":[{"statType":"TOTAL_TIME_SPENT_DEAD","value":141},{"statType":"TOTAL_HEAL","value":0},{"statType":"MAGIC_DAMAGE_DEALT_PLAYER","value":17},{"statType":"GOLD_EARNED","value":13032},{"statType":"PHYSICAL_DAMAGE_TAKEN","value":12398},{"statType":"ASSISTS","value":5},{"statType":"LEVEL","value":18},{"statType":"LARGEST_CRITICAL_STRIKE","value":0},{"statType":"ITEM0","value":3071},{"statType":"ITEM1","value":3035},{"statType":"LARGEST_KILLING_SPREE","value":2},{"statType":"WIN","value":1},{"statType":"LARGEST_MULTI_KILL","value":1},{"statType":"CHAMPIONS_KILLED","value":4},{"statType":"TOTAL_DAMAGE_TAKEN","value":16601},{"statType":"SIGHT_WARDS_BOUGHT_IN_GAME","value":6},{"statType":"VISION_WARDS_BOUGHT_IN_GAME","value":0},{"statType":"PHYSICAL_DAMAGE_DEALT_TO_CHAMPIONS","value":15899},{"statType":"TOTAL_DAMAGE_DEALT_TO_CHAMPIONS","value":16536},{"statType":"MAGIC_DAMAGE_TAKEN","value":3999},{"statType":"NUM_DEATHS","value":4},{"statType":"TURRETS_KILLED","value":1},{"statType":"ITEM2","value":3072},{"statType":"ITEM3","value":3278},{"statType":"BARRACKS_KILLED","value":0},{"statType":"PHYSICAL_DAMAGE_DEALT_PLAYER","value":158320},{"statType":"ITEM5","value":0},{"statType":"ITEM4","value":1033},{"statType":"NEUTRAL_MINIONS_KILLED","value":15},{"statType":"MAGIC_DAMAGE_DEALT_TO_CHAMPIONS","value":17},{"statType":"MINIONS_KILLED","value":254},{"statType":"TOTAL_DAMAGE_DEALT","value":158957}],"afk":false,"boostXpEarned":0,"level":30,"userId":32354173,"createDate":"\/Date(1357692193033)\/","userServerPing":13,"premadeSize":1,"boostIpEarned":0,"gameId":659444015,"timeInQueue":42,"ipEarned":92,"gameMode":"CLASSIC","subType":"RANKED_SOLO_5x5","queueType":"RANKED_SOLO_5x5","premadeTeam":false,"championId":92},{"ranked":true,"skinIndex":1,"fellowPlayers":[{"championId":20,"summonerId":21600556,"summonerName":"BIoodWater","teamId":100},{"championId":81,"summonerId":20426229,"summonerName":"MaddickBrown","teamId":200},{"championId":92,"summonerId":21124626,"summonerName":"moonway","teamId":100},{"championId":37,"summonerId":23716167,"summonerName":"sealbotron","teamId":200},{"championId":51,"summonerId":19381831,"summonerName":"Demunlul","teamId":100},{"championId":98,"summonerId"[...]
