---
http_interactions:
- request:
    method: get
    uri: http://elophant.com/api/v1/na/getRecentGames?accountId=87625&key=V45wByoYCe2ESQ7h3tnC&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Limit:
      - '1000'
      Remaining:
      - '987'
      Reset:
      - '511'
    body:
      encoding: US-ASCII
      string: ! '{"gameStatistics":[{"ranked":true,"skinIndex":0,"fellowPlayers":[{"championId":143,"summonerId":19807803,"summonerName":"Crs
        Nyjacky","teamId":200},{"championId":117,"summonerId":19346988,"summonerName":"Manhattannn","teamId":100},{"championId":64,"summonerId":138243,"summonerName":"Crs
        Stvicious","teamId":200},{"championId":89,"summonerId":19275717,"summonerName":"Thth","teamId":200},{"championId":104,"summonerId":19930588,"summonerName":"Shynon","teamId":100},{"championId":36,"summonerId":19854262,"summonerName":"KeIsey
        Jeong","teamId":100},{"championId":25,"summonerId":22614952,"summonerName":"FGxL
        On The Case","teamId":100},{"championId":107,"summonerId":21083168,"summonerName":"Pentagon","teamId":200},{"championId":58,"summonerId":20610274,"summonerName":"sexycan","teamId":100}],"gameType":"MATCHED_GAME","experienceEarned":0,"eligibleFirstWinOfDay":false,"gameMapId":1,"leaver":false,"spell1":14,"spell2":4,"gameTypeEnum":"MATCHED_GAME","teamId":200,"summonerId":0,"statistics":[{"statType":"TOTAL_DAMAGE_TAKEN","value":17243,"dataVersion":0},{"statType":"NUM_DEATHS","value":2,"dataVersion":0},{"statType":"ITEM1","value":1055,"dataVersion":0},{"statType":"CHAMPIONS_KILLED","value":9,"dataVersion":0},{"statType":"GOLD_EARNED","value":13227,"dataVersion":0},{"statType":"PHYSICAL_DAMAGE_TAKEN","value":11371,"dataVersion":0},{"statType":"ITEM4","value":3035,"dataVersion":0},{"statType":"LARGEST_KILLING_SPREE","value":5,"dataVersion":0},{"statType":"ITEM2","value":3072,"dataVersion":0},{"statType":"TOTAL_TIME_SPENT_DEAD","value":68,"da[...]
