---
http_interactions:
- request:
    method: get
    uri: http://elophant.com/api/v1/na/getRecentGames?accountId=34318&key=V45wByoYCe2ESQ7h3tnC&output=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Limit:
      - '1000'
      Remaining:
      - '983'
      Reset:
      - '505'
    body:
      encoding: US-ASCII
      string: ! '{"gameStatistics":[{"ranked":true,"skinIndex":0,"fellowPlayers":[{"championId":29,"summonerId":544195,"summonerName":"LightSludge","teamId":200},{"championId":120,"summonerId":21208070,"summonerName":"Ninjaken","teamId":100},{"championId":54,"summonerId":21439805,"summonerName":"Fizz
        Khalifa","teamId":200},{"championId":69,"summonerId":20290167,"summonerName":"Navitar","teamId":200},{"championId":28,"summonerId":19586740,"summonerName":"Li
        Sheng Shun","teamId":100},{"championId":53,"summonerId":19602876,"summonerName":"Daydreamin","teamId":200},{"championId":40,"summonerId":20153677,"summonerName":"BabyZeus","teamId":100},{"championId":126,"summonerId":20610274,"summonerName":"sexycan","teamId":200},{"championId":24,"summonerId":29469998,"summonerName":"Flam\u00EA","teamId":100}],"gameType":"MATCHED_GAME","experienceEarned":0,"eligibleFirstWinOfDay":false,"gameMapId":1,"leaver":false,"spell1":7,"spell2":4,"gameTypeEnum":"MATCHED_GAME","teamId":100,"summonerId":0,"statistics":[{"statType":"TOTAL_TIME_SPENT_DEAD","value":264,"dataVersion":0},{"statType":"SIGHT_WARDS_BOUGHT_IN_GAME","value":3,"dataVersion":0},{"statType":"PHYSICAL_DAMAGE_TAKEN","value":20631,"dataVersion":0},{"statType":"MAGIC_DAMAGE_TAKEN","value":13451,"dataVersion":0},{"statType":"ITEM3","value":3046,"dataVersion":0},{"statType":"LARGEST_KILLING_SPREE","value":6,"dataVersion":0},{"statType":"NEUTRAL_MINIONS_KILLED","value":36,"dataVersion":0},{"statType":"TURRETS_KILLED","value":2,"dataVersion":0},{"statType":"ITEM0","value":3006,"dataVersion":0},{"statType":"ITEM2","value":3072,"dataVersion":0},{"statType":"PHYSICAL_DAMAGE_DEALT_PLAYER","value":239140,"dataVersion":0},{"statType":"BARRACKS_KILLED","value":2,"dataVersion":0},{"statType":"LARGEST_CRITICAL_STRIKE","value":1088,"dataVersion":0},{"statType":"ITEM5","value":3035,"dataVersion":0},{"statType":"TOTAL_HEAL","value":4109,"dataVersion":0},{"statType":"TOTAL_DAMAGE_TAKEN","value":35701,"dataVersion":0},{"statType":"GOLD_EARNED","value":19810,"dataVersion":0},{"statType":"LARGEST_MULTI_KILL","value":3,"dataVersion":0},{"statType":"LEVEL","value":18,"dataVersion":0},{"statType":"NUM_DEATHS","value":6,"dataVersion":0},{"statType":"ITEM4","value":3031,"dataVersion":0},{"statType":"ASSISTS","value":7,"dataVersion":0},{"statType":"ITEM1","value":3140,"dataVersion":0},{"statType":"TOTAL_DAMAGE_DEALT","value":262401,"dataVersion":0},{"statType":"MINIONS_KILLED","value":259,"dataVersion":0},{"statType":"WIN","value":1,"dataVersion":0},{"statType":"CHAMPIONS_KILLED","value":16,"dataVersion":0}],"afk":false,"boostXpEarned":0,"level":30,"invalid":false,"userId":34318,"createDate":"2012-11-24
        07:55:02Z","userServerPing":51,"premadeSize":1,"boostIpEarned":0,"gameId":598889486,"timeInQueue":214,"ipEarned":124,"gameMode":"CLASSIC","subType":"RANKED_SOLO_5x5","queueType":"RANKED_SOLO_5x5","premadeTeam":false,"championId":67,"dataVersion":2},{"ranked":true,"skinIndex":0,"fellowPlayers":[{"championId":55,"summonerId":21208070,"summonerName":"Ninjaken","teamId":100},{"championId":38,"summonerId":20290167,"summonerName":"Navitar","teamId":200},{"championId":19,"summonerId":21238911,"summonerName":"Sickoscott","teamId":200},{"championId":117,"summonerId":19602876,"summonerName":"Daydreamin","teamId":200},{"championId":104,"summonerId":20262759,"summonerName":"kMSeunG","teamId":200},{"championId":2,[...]
