<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<a class="brand" href="/home/index">Elophant</a>
<div class="nav-collapse">
  <ul class="nav">
    <li><%= link_to "Players", players_path %></li>
    <li><%= link_to "Games", games_path %></li>
  </ul>
</div>